html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@screen lg {
  .more-list> :nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .more-list> :nth-last-child(-n+2)::after {
    display: none;
  }
}

img {
  transition: 0.5s;
}

.tk-expand {
  background-color: rgb(245, 245, 245) !important;
  border-radius: 15px;
}
.dark .tk-expand {
  background-color: rgb(23, 23, 23) !important;
}