html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@screen lg {
  .more-list > :nth-last-child(-n+2){
    margin-bottom: 0;
  }
  .more-list > :nth-last-child(-n+2)::after {    
      display: none;
  }   
}

/* blockquote:before {
  content: "\275d";
  float: left;
  position: relative;
  font-size: 300%;
  top: -10px;
  margin-left: -44px;
  --tw-text-opacity: 1;
  color: rgba(255, 55, 95, var(--tw-text-opacity));
  line-height: 0px;
}

blockquote:after {
  content: "\275e";
  float: right;
  position: relative;
  font-size: 300%;
  top: 44px;
  margin-right: -44px;
  --tw-text-opacity: 1;
  color: rgba(255, 55, 95, var(--tw-text-opacity));
  line-height: 0px;
} */